adafruit-ampy==1.1.0
alembic==1.7.4
autopep8==1.5.7
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.10
click==8.0.3
deep-translator==1.6.1
ecdsa==0.17.0
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
googletrans==2.3.0
googletrans-temp==2.3.0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.2
Mako==1.1.5
MarkupSafe==2.0.1
paho-mqtt==1.6.1
psycopg2-binary==2.9.1
pyasn1==0.4.8
pycodestyle==2.7.0
pyserial==3.5
python-dotenv==0.19.1
python-jose==3.3.0
pyudev==0.22.0
requests==2.27.1
rfc3986==1.5.0
rsa==4.8
rshell==0.0.30
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.26
toml==0.10.2
urllib3==1.26.8
Werkzeug==2.0.2
