Flask==1.0.2
Flask-Bootstrap==3.3.7.1
flask-core==2.9.0
Flask-Cors==3.0.8
Flask-Migrate==2.5.2
Flask-Moment==1.0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.0
Flask-WTF==1.0.0
future==0.17.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3

